header { 
background-color: rgb(43, 128, 99);
color: aliceblue;
text-align: center;
max-width: 800px;
margin: 0 auto;
}

main {
background-color: aliceblue;
color:rgb(43, 128, 99);
max-width: 800px;
margin: 0 auto;
}
